

<nav class="navbar navbar-expand-md bg-dark navbar-dark">

  <!-- Brand -->
  <a class="navbar-brand" href="http://127.0.0.1:5000/">Burak Blog</a>
 
  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
 
  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:5000/sign-up">Sign Up</a>
      </li>

       <form action = "http://127.0.0.1:5000/" method = "POST">
            <input type = "text" name = "username"  placeholder="Username"/>
            <input type = "password" name = "pass" placeholder="Password"/>
            <input type = "submit" value = "Login" class="btn btn-success"/>
       </form>
    </ul>
  </div>
</nav>


    