<script>
   if ("{{err}}"!="")
   {
      alert("{{err}}");
   }
</script>
<html>
   {% extends "sablon.html" %}
   {% block body %}
   <body>
      <div class="jumbotron">
         <form action = "http://127.0.0.1:5000/new-sign-up" method = "POST" enctype="multipart/form-data">
            <button type="button"  data-toggle="modal" data-target="#exampleModalLong">
                    <img id="imgPreview" name="imgPreview" src="https://media.istockphoto.com/vectors/user-icon-flat-isolated-on-white-background-user-symbol-vector-vector-id1300845620?b=1&k=20&m=1300845620&s=170667a&w=0&h=JbOeyFgAc6-3jmptv6mzXpGcAd_8xqkQa_oUK2viFr8=" width="80" height="80" class="rounded-circle" data-target="#exampleModalLong">
            </button>
            <input type = "text" name = "username" class="form-control" placeholder="Username" value="{{username}}"/><br>
            <input type = "password" name = "password" class="form-control" placeholder="Password"/><br>
            <input type = "password" name = "password2" class="form-control" placeholder="Password"/><br>
            <input type = "text" name = "firstName" class="form-control" placeholder="First Name" value="{{firstName}}"/><br>
            <input type = "text" name = "lastName" class="form-control" placeholder="Last Name" value="{{lastName}}"/><br>
            <input type = "text" name = "eMail" class="form-control" placeholder="E-mail" value="{{eMail}}"/><br>

            <input type="checkbox" id="privacyPolicy" name="privacyPolicy" value="accept">  Privacy Policy<br><br>


            <input type = "submit" value = "Sign Up" class="btn btn-success"/><br>
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <dl>
                                    <p>
                                        <input type="file" id="myFileInput22" name="myFileInput22" class="form-control" onchange="document.getElementById('imgPreview').src = window.URL.createObjectURL(this.files[0])" autocomplete="off" required>
                                    </p>
                                </dl>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <input type="submit"  value="Save changes"  class="btn btn-primary" data-dismiss="modal" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
         </form>
      </div>
   </body>
   {% endblock %}
</html>
